

.popup__delivery {
	display: flex;
	align-items: center;
	gap: 13px;
	margin-bottom: 20px;
}

.popup__icon {
	width: 20px;
	height: 20px;
	object-fit: cover;
}

.final__btn {
	width: 100%;
}