.kfc-header {
	position: relative;
	min-height: 320px;
}

.bg-kfc {
	position: absolute;
	width: 100%;
	z-index: -1;
	height: 100%;
	object-fit: cover;
}

.kfc-header__liked {
	position: absolute;
	right: 10px;
	top: -22px;
}

.info__inner {
	background: rgba(244, 239, 241, 0.49);
	border-radius: 18px 18px 0px 0px;
	padding: 20px 46px;
}

.info__time {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #141111;
}

.info__right {
	display: flex;
	align-items: center;
	gap: 23px;
}

.info__rating {
	display: flex;
}

.menu__lists {
	list-style: none;
	display: flex;
	overflow: scroll;
}

.menu__list {
	font-weight: 500;
	font-size: 18px;

	color: #141111;
	padding: 10px 13px;

	border-radius: 11px;
}

.menu__list.active {
	background: #f4efef;
}

.catalog-item {
	padding-bottom: 80px;
}

.catalog-item__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -6px;
	row-gap: 24px;
}

.catalog-item__column {
	flex: 0 1 50%;
	padding: 0 6px;
}

.catalog-item__item {
	background: #f4efef;
	border-radius: 12px;
	padding: 7px;
	position: relative;
}

.catalog-item__img {
	display: block;
	width: 100%;
	height: 130px;
	object-fit: contain;
}

.catalog-item__price {
	position: absolute;
	bottom: -5px;
	right: -5px;
	width: 39px;
	height: 37px;
	border-radius: 50%;
	background: #f4842b;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: normal;
	font-size: 9px;
	color: #fffdfd;
}

.footer {
	background: transparent;
	height: 0;
}

.cart {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.cart-price {
	top: -5px;
	right: -5px;
}
